*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #000;
  color: #ffffff;
  margin: 0;
}

:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --font1: 60px;
  --font2: 40px;
  --timingFn: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

html,
body {
  width: 100%;
}
.container {
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
/* common styles */
.section-title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--color-gold);
  background-color: #000;
  margin-bottom: 60px;
  position: relative;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 220px;
  height: 55px;
  cursor: pointer;
  border: 0;
  transition: all 250ms var(--timingFn);
  background-color: var(--color-gold);
}
.btn:hover,
.btn:focus {
  color: #ffffff;
}
/* =================== HEADER ====================== */
.header {
  padding-bottom: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__bg {
  background: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  max-width: 1440px;
  width: 100%;
  height: 910px;
  position: absolute;
  z-index: -1;
  left: 0;
}
/* logo */
.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 300ms var(--timingFn);
  margin-top: 20px;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
/* nav */
.nav,
.nav-list,
.language-switch {
  display: flex;
  justify-content: space-between;
}
.nav {
  margin-left: auto;
  align-items: center;
  margin-top: 20px;
}
/* .nav-list {
  width: 500px;
  margin-right: 30px;
} */
.nav-item {
  margin-right: 30px;
}
.nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  transition: all 250ms var(--timingFn);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-gold);
}
.language-switch {
  /* width: 70px; */
  align-items: center;
  margin-top: 20px;
}
.slash {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  margin-right: 8px;
}
.language-link {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  transition: all 250ms var(--timingFn);
}
.language-link:not(:last-child) {
  margin-right: 8px;
}
.language-link:hover,
.language-link:focus,
.language-link:active {
  color: var(--color-gold);
}
.active {
  color: var(--color-gold);
}
/* ================== Tablet header ================== */
@media (max-width: 768px) {
  .header__bg {
    background: url("./assets/img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    max-width: 768px;
    width: 100%;
    height: 590px;
  }
  .logo {
    margin-right: auto;
  }
  .nav {
    margin-top: 0px;
  }
  .nav-link {
    font-size: 35px;
    line-height: 73px;
  }
  .language-switch {
    margin-right: 75px;
  }
  .language-link {
    margin-right: 9px;
  }
  /* .language-link:not(:last-child) {
    margin-right: 9px;
  }
  .slash {
    margin-right: 18px;
  } */
}
/* =================== HERO====================== */
.hero {
  padding-top: 160px;
  padding-bottom: 345px;
}
.hero-content-box {
  max-width: 500px;
  margin-left: 60px;
}
.hero-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 10px;
}
.hero-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  max-width: 470px;
  margin-bottom: 25px;
}
/* =================== hero tablet ====================== */
@media (max-width: 768px) {
  .hero {
    padding-top: 78px;
    padding-bottom: 152px;
  }
  .hero-content-box {
    margin-left: 0px;
  }
  .hero-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 20px;
  }
  .hero-text {
    line-height: 24px;
    max-width: 390px;
    margin-bottom: 60px;
  }
}
/* =================== skills ====================== */
.skills {
  padding-top: 100px;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.wrapper::before {
  content: "";
  display: block;
  width: 700px;
  height: 2px;
  background-color: var(--color-gold);
  position: absolute;
  top: 39px;
}
/* Cart */
.skills__items-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill__item {
  background-position: center top;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
}
.skill__item:nth-child(1) {
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.skill__item:nth-child(2) {
  background-image: url("./assets/svg/video.svg");
  background-size: 60px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.skill__item:nth-child(3) {
  background-image: url("./assets/svg/image.svg");
  background-size: 66px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.skill__item:nth-child(4) {
  background-image: url("./assets/svg/mic.svg");
  background-size: 32px 50px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.item__title {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 280px;
  margin-bottom: 20px;
}
.item__text {
  width: 280px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
@media (max-width: 768px) {
  .skills {
    padding-top: 80px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .wrapper::before {
    max-width: 364px;
    top: 20px;
  }
  .skills__items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 0;
    padding-bottom: 27px;
    justify-content: center;
  }

  .skill__item {
    max-width: 300px;
    /* width: 100%; */
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding: 75px 10px 0;
  }
}
@media (max-width: 320px) {
  .wrapper::before {
    max-width: 250px;
  }
  .skill__item {
    padding: 75px 10px 0;
  }
}
/* ================== portfolio ====================== */
.portfolio {
  padding-top: 100px;
}
/* btn */
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /**/
  padding-bottom: 60px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 5px;
}
.portfolio-btn {
  color: var(--color-gold);
  background-color: transparent;
  border: 1px solid var(--color-gold);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--color-gold);
}
.portfolio-btn-active {
  background-color: var(--color-gold);
  color: #000;
}
/* img */
.portfolio-items-img {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center; /**/
}

/* portfolio tablet */
@media (max-width: 768px) {
  .portfolio {
    padding-top: 80px;
  }
  /* 769 -934 исправить */
  .portfolio-btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
  }
  .portfolio-btn-item:not(:last-child) {
    margin-right: 0px;
  }
  .portfolio-items-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }
  .portfolio-item {
    max-width: 450px;
    height: auto;
  }
}

/* ================== video ====================== */
.video {
  padding-top: 100px;
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-btn {
  position: absolute;
  width: 129.86px;
  height: 130px;
  cursor: pointer;
}
.video-btn-color {
  background-image: url("./assets/svg/Play_hover.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  transition: all 250ms var(--timingFn);
}
.video-btn-color:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

@media (max-width: 768px) {
  .video {
    padding-top: 80px;
  }
  .video-btn {
    width: 64.62px;
    height: 64.69px;
  }
  .video-btn-color {
    background-image: url("./assets/svg/Play_hover-tablet.svg");
  }
}
/* ================== price ====================== */
.price {
  padding-top: 100px;
}
.price-block {
  display: flex;
  justify-content: space-between;
}
.price-block:not(:last-child) {
  margin-right: 25px;
}
.price-cart {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  border: 3px solid var(--color-gold);
  align-items: center;
  padding-top: 43px;
  padding-bottom: 43px;
}
.price-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
.price-tag {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: var(--color-gold);
}
.price-description {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.price-button {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .price {
    padding-top: 80px;
  }
  .price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }
  .price-cart {
    max-width: 420px;
  }
}
@media (max-width: 405px) {
  .price-button {
    width: 80%;
  }
}
/* ================== contacts ================ ====== */
.contacts {
  padding-top: 100px;
}

/* .contacts .container {
  background: url("./assets/img/contacts.jpg");
  background-size: auto 700px;
  background-position: center center;
  height: 700px;
} */

.contacts .container {
  background: url("./assets/img/contacts.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  height: 640px;
  padding-top: 60px;
}
.wrapper-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-contacts {
  width: 450px;
  height: 445px;
  margin-top: 60px;
}
.form-title {
  margin-bottom: 40px;
  background-color: transparent;
  text-align: left;
  padding: 0;
}
input {
  height: 50px;
  margin-bottom: 20px;
}
textarea {
  height: 100px;
  resize: none;
  border-radius: 0px;
  margin-bottom: 30px;
  color: var(--color-gold);
}
.form-input {
  max-width: 450px;
  width: 100%;
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gold);
  padding-left: 20px;
}
::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
}
/* фона элементов input при автозаполнении в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 80px;
  }
  .contacts .container {
    background: url("./assets/img/contacts-tablet.jpg");
    background-size: auto 600px;
    background-position: center center;
    height: 600px;
  }
  @media (max-width: 750px) {
    .contacts .container {
      margin: 0 auto;
      background-position: -232px center;
    }
  }
  .wrapper-contacts {
    justify-content: center;
  }
  .form-contacts {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
/* ================== footer ================== */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-title {
  display: none;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data {
  display: flex;
}
.footer-item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}
.footer-item:not(:last-child) {
  margin-right: 20px;
}
.footer-school-item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}
.link {
  color: #ffffff;
  transition: all 250ms var(--timingFn);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--color-gold);
}
/* ================== footer icon ================== */
.icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  transition: all 250ms var(--timingFn);
}
.icon:hover {
  fill: var(--color-gold);
}

.icon-list {
  width: 188px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-data {
    margin-bottom: 16px;
    justify-content: space-around;
  }
  .footer-item {
    line-height: 24px;
  }
  .footer-school {
    width: 211px;
    margin-bottom: 20px;
  }
  .footer-school-item {
    line-height: 24px;
  }
  .icon-list {
    width: 178px;
    justify-content: space-around;
  }
}

/* ================== burger ================== */
@media (max-width: 768px) {
  /* .header__inner {
    overflow-x: hidden;
    position: relative;
  } */
  .hamburger {
    display: block;
    z-index: 2;
    position: absolute;
    right: 60px;
    margin-top: 20px;
    cursor: pointer;
  }
  @media (max-width: 320px) {
    .hamburger {
      right: 20px;
    }
  }
  .hamburger .line {
    width: 50px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 9px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s;
  }
  .hamburger:hover .line {
    background-color: var(--color-gold);
  }
  /* 
  открытие модал */
  .header__nav.open {
    right: 0;
    /* transition: all 0.3s; */
  }

  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
  /* ======================================= */
  /* стили для модалки */
  .header__nav {
    position: fixed;
    right: -620px;
    top: 0;
    max-width: 620px;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transition: all 0.3s;
    z-index: 1;
  }

  .header__nav-list {
    display: flex;
    text-align: left;
    flex-direction: column;
    line-height: 88px;
    font-size: 35px;
    margin-top: -235px;
    margin-left: 127px;
  }
  .header__nav-link {
    transition: all 0.3s;
  }

  .fixed {
    position: fixed;
    right: 60px;
  }

  /* стили overlay */
  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
  }
  .block {
    display: block;
  }

  /* scroll */
  .over-hid {
    overflow: hidden;
  }
}
/* ====================================================== */
/* ========= backdrop ========== */
/* .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
  }
}  */
/* =================================================== */
/* <!-- BURGER-2 в header-->
         <div class="burger"></div */

/* <!-- burg-cont  в футере -->
    <div class="screen"></div>
    <div class="burg-cont">
        <div class="burg-end cl"></div>
        <nav class="menu__burg">
            <ul class="menu__burg__item">
                <li class="cl"><a href="#contact">Contact</a></li>
                <li class="cl"><a href="#high">Skill Highlights</a></li>
                <li class="cl"><a href="#codeexample">Code Example</a></li>
                <li class="cl"><a href="#aboutme">About Me</a></li>
                <li class="cl"><a href="#experience">Experience</a></li>
            </ul>
        </nav>
    </div> */

/* ========= burger-2 ========== */
/* .screen {
    position: relative;
  } */
/* .burger { */
/* display: block; */
/* position: absolute; */
/* top: 5px;
    right: 5px; */
/* margin: auto;
    width: 50px;
    height: 50px;
    background: url(./assets/svg/burger_start.svg);
    cursor: pointer;
  }

  .burg-cont { 
    display:none;
    }
    
  .burg-cont {
    display: block;
    position: absolute;
    position: relative;
    transition: 1s;
    left: -55vw;
    top: 5vh;
    width: 50vw;
    min-height: 30vh;
    background-color: #000;
  }
  .left {
    transition: 1s;
    left: 25vw;
  }
  .burg-end {
    margin-top: 2vh;
    margin-left: 40vw;
    width: 28px;
    height: 28px;
    background: url(./assets/svg/burger_end.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .over-hid {
    overflow: hidden;
  } */
/* end burger */
