* {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth; 
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* =================== HERO====================== */
.hero {
    padding-top: 160px;
}
 .hero-title{
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  margin-left: 80px;
} 

.hero-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  margin-left: 80px;
}

.hero-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 220px;
  margin-left: 80px;
  margin-top: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #bdae82;
}

/* =================== skills ====================== */
/* section */
.skills {
   padding-top: 100px;
}

.section-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
}
/* ================== portfolio ====================== */
/* section */
.portfolio {
    padding-top: 100px;  
}
/* ================== video ====================== */
.video {
    padding-top: 100px;  
}
/* ================== price ====================== */
.price {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* ================== contacts ====================== */
.contacts {
   padding-top: 100px;
}

/* ================== footer ====================== */
/* .footer {
 background-color: red;
} */